/* Hero.css */
.hero-banner {
    width: 100%;
    height: 50%;
    overflow: hidden; 
  }
  
  .hero-image {
    width: 100%;
    height: 45rem ; 
    display: block;
    /* object-fit: cover; Cover the entire container */
  }

  